name: Import footlight/co-motion-ca

on:
  workflow_dispatch:
  schedule:
    - cron: "30 8 * * 1,3"  # Run at 1:30 AM ET every Mondays and Wednesdays
jobs:
  push-to-cms:
    uses: culturecreates/footlight-aggregator/.github/workflows/import-data-to-cms.yml@main
    with:
        cms_referer_header: ${{ vars.CMS_REFERER_HEADER }}
        aggregator_username: ${{ vars.AGGREGATOR_USER_COMOTION }}
        source_url: http://kg.artsdata.ca/culture-creates/footlight/co-motion-ca
        footlight_base_url: https://api.cms.footlight.io
        footlight_calendar_id: signe-laval
        batch_size: 5
        mapping_file_url: https://raw.githubusercontent.com/culturecreates/footlight-aggregator/main/data/co-motion-cms-mapping.json 
    secrets:
      aggregator_password: ${{ secrets.AGGREGATOR_PASSWORD_COMOTION }}
      datadog_token: ${{ secrets.DATA_DOG_CLIENT_TOKEN }}
      AWS_SES_ACCESS_KEY: ${{ secrets.AWS_SES_ACCESS_KEY }}
      AWS_SES_SECRET_ACCESS_KEY: ${{ secrets.AWS_SES_SECRET_ACCESS_KEY }}