name: 'Test workflow'
description: 'This is a test workflow'

on:
  workflow_dispatch:
    inputs:
      mode:
        description: 'Mode of the action (fetch/push/fetch-push)'
        required: true
        default: 'push'

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Create config file
        run: |
          cat <<EOF > config.yml
          mode: ${{ github.event.inputs.mode }}
          cloudflare_private_key: |
          $(printf "%s" "${{ secrets.TEST_SECRET }}" | sed 's/^/ /')
          EOF

      - name: Show config
        run: cat config.yml
